.App {
  text-align: center;
}


img{
  image-rendering: pixelated;
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #353353;
}



